*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
    font-weight: 700;
}

/* STRUTTURA*/

.spotify{
    width: 100%;
    height: 100vh;
}

.main-container{
    width: 100%;
    height: calc(100% - 100px);
    overflow: hidden;
}

footer{
    width: 100%;
    height: 100px;
    background-color: #282828;
}

.col{
    float: left;
}

.left-col{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 250px;
    background-color: #000000;
    color: #a3a3a3;
}

.right-col{
    height: 100%;
    width: calc(100% - 250px);
    background-color: #141922;
    overflow-y: auto;
}

ul{
    list-style-type: none;
    font-size: 15px;
}

.layout{
    margin-left: 15px;
    overflow-y: auto;
}

.white-text{
    color: white;
}

/* images */

.logo img{
    height: 50px;
    cursor: pointer;
}

.logo{
    padding: 20px;
    height: 100px;
}

.content{
    padding-top: 120px;
}

.upgrade-bar{
    display: flex;
    align-items: flex-start;
    align-items: center;
    justify-content: end;
    width: 100%;
    height: 100px;
    background-color: rgba(8, 11, 18, 0.2);
    position: fixed;
}

.button{
    margin-right: 280px;
    color: white;
    border: 1px solid white;
    border-radius: 20px;
    display: inline-block;
    padding: 12px 30px;
    overflow-x: auto;
    cursor: pointer;
}

.button:hover{
    transform: scale(1.2);
}

.fa-home, .fa-search, .fa-book-open{
    font-size: 28px;
    vertical-align: middle;
    line-height: 35px;

}



.playlist{
    margin-top: 20px;
    flex-grow: 1;
}

.playlist h3{
    margin-bottom: 10px;
    font-size: 20px;
    color: white;
}

.fa-plus-square{
    font-size: 40px;
    vertical-align: middle;
}

.playlist-list{
    line-height: 40px;
}

.playlist-list li{
   overflow-y: auto;
   height: 100%;
}

hr{
    width: 88%;
    border-bottom: 1px solid #a3a3a3;
    margin: 10px 15px;
}