*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
}

/* STRUTTURA*/

.spotify{
    width: 100%;
    height: 100vh;
}

.main-container{
    width: 100%;
    height: calc(100% - 100px);
    overflow: hidden;
}

footer{
    width: 100%;
    height: 100px;
    background-color: #282828;
}

.col{
    float: left;
}

.left-col{
    height: 100%;
    width: 250px;
    background-color: #000000;
    color: #a3a3a3;
}

.right-col{
    height: 100%;
    width: calc(100% - 250px);
    background-color: #141922;
    overflow-y: auto;
}

ul{
    list-style-type: none;
    font-size: 15px;
}

.search-list{
    display: flex;
    flex-direction: column;
    height: calc(100% - 100px);
}

.layout{
    margin-left: 15px;
}

.left-green{
    border-left: 3px solid #adff2f;
}

/* PROVA */

.bottom-green{
    border-bottom: 3px solid #adff2f;
    width: 10%;
    margin: auto;
}

/* FINE PROVA */

.white-text{
    color: white;
    padding-left: 12px;
}

.button{
    margin-right: 280px;
    color: white;
    border: 1px solid white;
    border-radius: 20px;
    display: inline-block;
    padding: 12px 30px;
    overflow-x: auto;
    cursor: pointer;
    font-weight: 700;
}

/* images */

.logo img{
    height: 50px;
    cursor: pointer;
}

.logo{
    padding: 20px;
    height: 100px;
}

.upgrade-bar{
    display: flex;
    align-items: flex-start;
    align-items: center;
    justify-content: end;
    width: 100%;
    height: 100px;
    background-color: rgba(8, 11, 18, 0.2);
    position: fixed;
}

.button:hover{
    transform: scale(1.2);
}

.fa-home, .fa-search, .fa-book-open, .fa-user-circle{
    font-size: 28px;
    vertical-align: middle;
    line-height: 35px;
    color: #a3a3a3;
}



.playlist{
    margin-top: 20px;
    flex-grow: 1;
    overflow-y: auto;
}

.playlist h3{
    margin-bottom: 10px;
    font-size: 20px;
    color: white;
}

.fa-plus-square{
    font-size: 40px;
    vertical-align: middle;
}

.playlist-list{
    line-height: 40px;
}

.playlist-list li{
   overflow-y: auto;
   height: 100%;
}

.install{
    border-bottom: 1px solid #a3a3a3;
    width: 85%;
    padding-bottom:5px ;
}

.user{
    margin: 10px 0 ;
}

/* RIGHT COL STYLE */

.content{
    padding-top: 120px;
}

.navigation-bar{
    width: 60%;
    margin: auto;
    height: 50px;
}

.navigation-list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.navigation-list li{
    color: #6b6e73;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0 10px;
}

.navigation-list li:first-child{
    position: relative;
}

.underline{
	position: absolute;
    width: 30%;
    height: 2px;
    bottom: 0;
    left: 50%;
    background-color: #adff2f;
    transform: translate(-50%, 5px);
}

